<!DOCTYPE html>

<head>

</head>

<body>
    <h3>--- Contact Us! ---</h3>
    <h4>
        <a href="/contacts/<%=contact.id%>">
            <%=contact.Company%>
        </a>
    </h4>
    <p>
        <%=contact.Address%>
    </p>
</body>

</html>